 /* Team */
 
 .team {
   background-color: var(--team-color);
   padding-top: 94px;
   padding-bottom: 94px;
 }
 
 .team__title{
   color: var(--primary-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.67;
   text-align: center;
   letter-spacing: 0.03em;
   margin-top: 0px;
   margin-bottom: 50px;
 }
 
 .team__list {
   margin-top: 0;
   margin-bottom: 0;
   display: flex;
   flex-wrap: wrap;
 }
 
 .team__list-hero {
   background-color: var(--white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
 }
 
 .team__list-hero:not(:last-child) {
   margin-right: 30px;
 }
 
 .team__item {
   padding-top: 30px;
   padding-bottom: 30px;
 }
 
 .team__hero {
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   margin-top: 0px;
   margin-bottom: 10px;
   text-align: center;
 }
 
 .team__text {
   color: var(--title-text-color);
   font-size: 16px;
   line-height: 1.19;
   margin-top: 0;
   margin-bottom: 0;
   text-align: center;
 }
 
 .team__soc-list {
   display: flex;
   justify-content: center;
   margin-top: 16px;
   gap: 10px;
 }
 
 .team__soc-link {
   width: 44px;
   height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
   background-color: var(--accent-color);
   }
 }

 .team__soc-icon {
   fill: #afb1b8;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   .team__soc-link:hover &,
   .team__soc-link:focus & {
     fill: white;
   }
 }